/* Container holding the image and the text */
.container {
    position: relative;
    width: 75%;
    color: rgb(255, 255, 100);
    border-style: dashed;
    margin: 0 auto;
  }
/* Top right text */
/* when I changed the resolution on my laptop the text changed positions */
.top-right {
  position: absolute;
  top: 8px;
  right: 10px;
  width:clamp(35%,500px,10em);  /*500px 30% 10em*/ 
  height: calc(98% - 8px);
  font-family: 'Caveat', cursive;
  font-size:clamp(1.9rem,2.5rem,2.5rem); 
  line-height: clamp(90%,1.1,1.5);
  text-shadow: 2px 2px 4px #1a0000;
  border-style: dotted;
   display: flow-root;
 }

h1 {
  text-align: center;
}
body {
  text-align: center;
  min-height: 100vh;
  width: 100%;
  background-color: white;
  color: black;
}
.dark-mode {
  background-color: #000000;
  color: #fff;
}

table {
  width: 100%;
  margin:1em 0em 1em 0em;
  padding: 1em 20em;
}

ul {
  list-style-position: inside;
}

input, button {
  background-color: inherit;
  color: inherit;
}

a {
  text-decoration: none;
}

ol li {
  padding-left: 1.5rem;
  display: inline-block;
}

.para {
  width: 60ch;
  line-height: 1.5;
  margin: 1.5em 2em;
  text-align: center;
}

